<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menu</title>
</head>
<body>
  <h1>Menu</h1>
  <div id="app">
    <menu-h></menu-h>
    <br />
    <br />
    <menu-v></menu-v>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <script>
    Vue.component('menu-h', {
      data: function() {
        return {
          menuPoints: [
            "foo",
            "bar",
            "barfoo"
          ]
        }
      },
      template: `
        <div class="menu-h" style="background: lightblue; height: 100vh; display: inline-block; padding: 0 3rem">
          <ul style="list-style: none; padding-left: 0;">
              <li v-for="point in menuPoints" style="color: blue; cursor: pointer; font-size: 30px">{{ point }}</li>
          </ul>
        </div>
      `
    })

    Vue.component('menu-v', {
      data: function() {
        return {
          menuPoints: [
            "home",
            "about",
            "something else"
          ]
        }
      },
      template: `
        <div class="menu-v" style="background: lime; display: inline-block; width: 100%; text-align: center">
          <ul style="list-style: none; padding-left: 0;">
              <li v-for="point in menuPoints" style="cursor: pointer; display: inline-block; padding: 0 2rem; font-size: 30px">{{ point }}</li>
          </ul>
        </div>
      `
    });

    new Vue({
      el: '#app',
    })
  </script>
</body>
</html>