<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WWW Navigator mit Router</title>
</head>
<body>
  <style>

	  
	  html,body {height: 100%; min-height: 100%;}

#main-container {display:flex;flex-direction:column;height: 100%;-height: 100%;}
.header {flex-grow:0; text-align: center;background: #ffbf8e;}
#inner-container {display:flex;flex-grow:1;}
.left {float:left;flex-grow:0;background: lightpink;height:100%;}
.center {float:center;flex-grow:1;background: lightskyblue;height:100%;}
.right {float:right;flex-grow:0; min-width:8%;background: lightpink;height:100%;}

  </style>
	<div id="main-container">
  <div class="header">
    <h1>WWW-Navigator</h1>
	<menu-h></menu-h>
   </div>
		<div id="inner-container">
  <div class="left">
    <menu-v></menu-v>
  </div>
  <div class="center">
    
  </div>
  <div class="right">
    <p>right</p>
		</div>
	</div>
	</div>
	<router-view></router-view>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script>
    Vue.component('menu-v', {
      data: function() {
        return {
          menuPoints: [
            "sub1",
            "sub2",
            "sub3"
          ]
        }
      },
      template: `
        <div class="menu-h" style="background: transparent; display: inline-block; padding: 0 3rem">
          <ul style="list-style: none; padding-left: 0;">
              <li v-for="point in menuPoints" style="color: blue; cursor: pointer; font-size: 30px">{{ point }}</li>
          </ul>
        </div>
      `
    })

    Vue.component('menu-h', {
      data: function() {
        return {
          menuPoints: [
              "js",
            "html",
            "css"
          ]
        }
      },
      template: `
        <div class="menu-v" style="background: transparent; display: inline-block; width: 100%; text-align: center">
          <ul style="list-style: none; padding-left: 0;">
              <li v-for="point in menuPoints" style="cursor: pointer; display: inline-block; padding: 0 2rem; font-size: 30px"><router-link v-bind:to="point">{{ point }}</router-link></li>
          </ul>
        </div>
      `
    });



	  
	  const JS = { template: '<menu-v>js</menu-v>' }
const CSS = { template: '<menu-v>css</menu-v>' }
const HTML = { template: '<menu-v>html</menu-v>' }

const routes = [
  { path: '/css', component: CSS },
  { path: '/js', component: JS },
  { path: '/html', component: HTML }
]

	  const router = new VueRouter({
  routes // short for `routes: routes`
})
	  const app = new Vue({
  router
}).$mount('#main-container')
	  
	  
	      new Vue({
      el: '#main-container',
    })
  </script>

</body></html>