<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aufgabe 10.1 - Counter</title>
</head>
<body>
  <h1>Hier ist ein Couter</h1>
  <div id="app">
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
  <script>
    Vue.component('button-counter', {
      data: function() {
        return {
          counter: 0,
          clickCounter: 0
        }
      },
      template: `
        <div class="counter">
          <h2>Counter</h2>
          <p>Counter Stand: {{ counter }} </p>
          <p>Es wurde {{ clickCounter }} mal geklickt </p>
          <button @click="counter++; clickCounter++">+</button>
          <button @click="counter--; clickCounter++">-</button>
        </div>
        `
    });

    new Vue({
      el: '#app',
    })
  </script>
</body>
</html>