body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  font-family: Tahoma, Geneva, sans-serif;
}

header {
  background: lightyellow;
  text-align: center;
  padding: 3.5rem 1rem;
  color: #bb680a;
  flex: 1 100%;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h1:hover {
  cursor: pointer;
}

nav {
  background-color: #343131;
  color: #d3d3d3;
  flex: 1;
  min-height: 100vh;
}

nav .nav-startbox {
  background: #5bbdbf;
  height: 8rem;
  width: 100%;
}

nav .nav-startbox p {
  margin: 0;
  padding: 3.5rem 0 0 0;
  color: #fcfaea;
  text-align: center;
}

nav h3 {
  padding-left: 3rem;
  margin-bottom: 1rem;
  color: #5bbdbf;
  text-shadow: 0 0 10px #05e7eb;
  cursor: default;
  transition: 0.6s;
}

nav h3:hover {
  text-shadow: 0 0 20px #05e7eb;
}

nav ul {
  padding-left: 3rem;
  list-style: none;
}

nav li {
  line-height: 2rem;
}

nav ul li a {
  color: #d9d9d9; 
  text-decoration: none;
  cursor: pointer;
  padding: 2px 1px 0;
  transition: 0.5s;
}

nav ul li a:hover {
  padding-left: 9px;
  cursor: pointer;
  color: #098eff;
}

section {
  background: #0074d9;
  color: #ffffff;
  flex: 2;
  min-height: 100vh;
  padding: 3rem 1rem 5rem 1rem;
  position: relative;
}

section h2 {
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

section .deactiviate-arrow-animation {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

section .deactiviate-arrow-animation:hover {
  cursor: pointer;
}

section .deactiviate-arrow-animation:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}


section .deactiviate-arrow-animation:hover:after {
  width: 100%; 
  left: 0; 
}

section .arrow-box {
  text-align: center;
  margin-bottom: 6rem;
}

section .arrow-box i {
  border: solid whitesmoke;
  border-width: 0 13px 13px 0;
  border-radius: 5px;
  display: inline-block;
  padding: 2rem;
}

section .arrow-box .animate {
  animation: leftRight 2s infinite;
}

section .left {
  transform: rotate(135deg);
}

@keyframes leftRight {
  0% {
    margin-right: 0rem;
  }
  50% {
    margin-right: 6rem;
    transform: rotate(120deg)
  }
  100% {
    margin-right: 0rem;
  }
}

section a {
  color: white;
  background: rgba(241, 227, 99, 0.2);
  text-decoration: none;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
  transition: 0.5s;
}

section a:hover {
  background: rgba(241, 227, 99, 0.7);
}

section hr {
  border: 0.1rem solid deepskyblue;
  border-radius: 10px;
}


footer {
  background: #282c2f;
  color: #f9fefd;
  text-align: center;
  padding: 1rem;
  flex: 1 100%;
}

footer a {
  color: #d3d3d3;
  text-decoration: none;
}

footer a:hover {
  color: lightblue;
  transition: 0.5s;
}

.btnScrollToTop {
  color: whitesmoke;
  background: lightcoral;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0, 0.55);
  cursor: pointer;
  transition: 0.3s;
}

.btnScrollToTop:hover {
  background: coral;
}

/* Media Query for mobile devices */
@media only screen and (max-width: 550px) {
  nav {
    flex: 1 100%;
    min-height: auto; 
  }

  section {
    flex: 1 100%;
    background: #5bbdbf;
    min-height: auto; 
  }

  section .deactiviate-arrow-animation {
    display: none;
  }

  section .solution-left-site {
    display: none;
  }

  .arrow-box {
    display: none;
  }
}