<div class="container" style="flex-direction: %direction%;">
  <div class="point">Punkt 1</div>
  <div class="point">Punkt 2</div>
  <div class="point">Punkt 3</div>
  <div class="point">Punkt 4</div>
  <div class="point">Punkt 5</div>
</div>

